body {
  height: 100vh;
  background-color: var(--darkblue);
  background-image: linear-gradient(180deg, var(--medblue), var(--darkblue) 100vh);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.3;
  font-weight: 200;
  color: var(--light);
}

a, a:active, a:visited {
  color: var(--lightblue);
  font-weight: 300;
  text-decoration: underline;
}

h1 a, h1 a:active, h1 a:visited,
h2 a, h2 a:active, h2 a:visited,
h3 a, h3 a:active, h3 a:visited,
h4 a, h4 a:active, h4 a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline dotted;
}

.sectionHero {
  border-color: var(--navy);
  border-width: 2px;
  border-radius: 100%;
  max-width: 5.5rem;
  display: block;
  margin-block: var(--space--2);
  float: right;
  margin-inline: var(--space--2);
}

@media only screen and (min-width:44em) {
  .sectionHero {
    max-width: 7rem;
  }
}

.color-light {
  color: var(--light);
}

.color-mdgrey {
  color: var(--mdgrey);
}

.color-navy {
  color: var(--navy);
}

.color-muted {
  color: var(--muted);
}

.border-mdgrey {
  border-color: var(--mdgrey);
}

.border-navy {
  border-color: var(--navy);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-mdgrey {
  background-color: var(--mdgrey);
}

.link-btn {
  height: 4rem;
}

.radius5 {
  border-radius: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.tag {
  background-color: var(--navy);
  padding: 3px;
  border: 1px solid var(--lightnavy);
  border-radius: 5px;
  display: inline-block;
}

.h2strong {
  border-bottom: 2px solid var(--white);
  background-color: var(--navy);
  border-radius: 5px;
  padding-block: var(--space--2);
  padding-inline: var(--space--2);
}
